/*============================================================

Project:	    Galaxy - Creative Multi-purpose Template
Version:	    1.0
Last change:	06/14 

============================================================*/
/*============================================================ 
                        CSS OVERVIEWS
                1. GENERAL
                2. LAYOUT
                3. COLOR
                4. BACKGROUND
                5. HEADER
                6. CONTENT TOP
                7. PAGE TITLE
                8. CONTAINER
                	8.1. Portfolio
                	8.2. blog
                	8.3. Sidebar
                	8.4. Paginator
                	8.5. Under Construction
                9. CONTENT BOTTOM
                10. FOOTER
                11. WIDGET STYLE
                12. CUSTOM
                
============================================================*/
/* variable */
/* ============================================================ 
    1. GENERAL
=============================================================*/
* {
  margin: 0;
  padding: 0;
  outline: 0 none;
}
hlinel {
  overflow-x: hidden;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font: 14px/1.8 'Raleway', sans-serif;
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
}
body.line-first-full #line-page-body {
  padding: 0;
}
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input.input-text {
  border: 2px solid #e6e6e6;
  background: #ffffff;
  padding: 5px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-boxshadow: none;
  font-family: 'Raleway', sans-serif;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input.input-text:focus {
  border-color: #000000;
  outline: 0;
}
textarea.line-disabled,
input[type="text"].line-disabled,
input[type="password"].line-disabled,
input[type="datetime"].line-disabled,
input[type="datetime-local"].line-disabled,
input[type="date"].line-disabled,
input[type="month"].line-disabled,
input[type="time"].line-disabled,
input[type="week"].line-disabled,
input[type="number"].line-disabled,
input[type="email"].line-disabled,
input[type="url"].line-disabled,
input[type="search"].line-disabled,
input[type="tel"].line-disabled,
input[type="color"].line-disabled,
input.input-text.line-disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
input.input-text:disabled {
  background: #f2f2f2;
  cursor: no-drop;
}
textarea {
  height: auto;
  line-height: 1.8em;
}
select {
  border: 2px solid #e6e6e6;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #b3b3b3;
  font-size: 14px;
  padding: 13px;
  background-color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-image: url(assets/img/caret.png);
  background-position: 93% center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
}
select:focus {
  border-color: #000000;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #f6ba70;
}
a:hover {
  color: #cccccc;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #cccccc;
}
h1.line-color-light,
h2.line-color-light,
h3.line-color-light,
h4.line-color-light,
h5.line-color-light,
h6.line-color-light {
  color: #ffffff;
}
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover {
  color: #cccccc;
}
p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  border: none;
  height: auto;
  vertical-align: top;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
img.line-thumbnail {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  background: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
img.line-thumbnail:hover {
  border-color: rgba(0, 0, 0, 0.7);
}
/* ============================================================ 
    2. LAYOUT
=============================================================*/
.line-table {
  display: table;
}
.line-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.line-left {
  float: left;
}
.line-right {
  float: right;
}
.line-clear {
  clear: both;
}
.line-center {
  text-align: center;
}
.line-wrap {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.line-wrap:after {
  clear: both;
  content: "";
  display: block;
}
#line-wrapper {
  position: relative;
}
.line-row {
  background: #ffffff;
  display: inline-block;
  width: 100%;
}
.line-col-1 article,
.line-col-1 li,
.line-col-1 div.line-col {
  width: 100%;
}
.line-col-2 article,
.line-col-2 li,
.line-col-2 div.line-col {
  width: 50%;
}
.line-col-3 article,
.line-col-3 li,
.line-col-3 div.line-col {
  width: 33.33%;
}
.line-col-4 article,
.line-col-4 li,
.line-col-4 div.line-col {
  width: 25%;
}
.line-title {
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.line-column {
  float: left;
  padding: 0 20px;
}
.line-column.line1 {
  width: 8.33333%;
}
.line-column.line2 {
  width: 16.6667%;
}
.line-column.line3 {
  width: 25%;
}
.line-column.line4 {
  width: 33.3333%;
}
.line-column.line5 {
  width: 41.6667%;
}
.line-column.line6 {
  width: 50%;
}
.line-column.line7 {
  width: 58.3333%;
}
.line-column.line8 {
  width: 66.6667%;
}
.line-column.line9 {
  width: 75%;
}
.line-column.line10 {
  width: 83.3333%;
}
.line-column.line11 {
  width: 91.6667%;
}
.line-column.line12 {
  width: 100%;
}
.line-mt0 {
  margin-top: 0;
}
.line-mt10 {
  margin-top: 10px;
}
.line-mt20 {
  margin-top: 20px;
}
.line-mt30 {
  margin-top: 30px;
}
.line-mt40 {
  margin-top: 40px;
}
.line-mt50 {
  margin-top: 50px;
}
.line-mt60 {
  margin-top: 60px;
}
.line-mt70 {
  margin-top: 70px;
}
.line-mt80 {
  margin-top: 80px;
}
.line-mt90 {
  margin-top: 90px;
}
.line-mt100 {
  margin-top: 100px;
}
.line-mb0 {
  margin-bottom: 0 !important;
}
.line-mb10 {
  margin-bottom: 10px;
}
.line-mb20 {
  margin-bottom: 20px;
}
.line-mb30 {
  margin-bottom: 30px;
}
.line-mb40 {
  margin-bottom: 40px;
}
.line-mb50 {
  margin-bottom: 50px;
}
.line-mb60 {
  margin-bottom: 60px;
}
.line-mb70 {
  margin-bottom: 70px;
}
.line-mb80 {
  margin-bottom: 80px;
}
.line-mb90 {
  margin-bottom: 90px;
}
.line-mb100 {
  margin-bottom: 100px;
}
.line-w10 {
  width: 10%;
}
.line-w20 {
  width: 20%;
}
.line-w30 {
  width: 30%;
}
.line-w40 {
  width: 40%;
}
.line-w50 {
  width: 50%;
}
.line-w60 {
  width: 60%;
}
.line-w70 {
  width: 70%;
}
.line-w80 {
  width: 80%;
}
.line-w90 {
  width: 90%;
}
.line-w100 {
  width: 100%;
}
.line-lh0 {
  line-height: 100%;
}
.line-content,
.line-container {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
}
.line-content:after,
.line-container:after {
  clear: both;
  content: "";
  display: block;
}
.line-full {
  overflow: auto;
  position: relative;
}
.line-overflow-x {
  overflow-x: hidden;
}
.line-cover {
  background-size: cover;
  background-position: center center;
}
.line-parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: 100% 100%;
}
.line-section {
  padding: 100px 0;
}
.line-middle {
  position: relative;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: 9;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
}
.line-blur {
  position: relative;
  z-index: -1;
}
.line-blur .line-blur-img {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-size: cover;
}
.line-blur .line-blur-img.line-blur-active {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.line-hello h1,
.line-hello h2,
.line-hello h3,
.line-hello h4,
.line-hello h5,
.line-hello h6 {
  line-height: 100%;
  margin-bottom: 25px;
}
.line-sticky.visible {
  position: fixed;
  top: 0px;
}
/* ============================================================ 
    3. COLOR
=============================================================*/
.red {
  background: #e74c3c;
}
.blue {
  background: #009eca;
}
.green {
  background: #97c13f;
}
.lightblue {
  background: #58c5c0;
}
.darkblue {
  background: #42555c;
}
.orange {
  background: #f6ba70;
}
.grey {
  background: #cccccc;
}
.black {
  background: #000000;
}
.white {
  background: #ffffff;
}
/* ============================================================ 
    4. BACKGROUND
=============================================================*/
.bg1 {
  background-image: url(http://placehold.it/1280x768);
}
.bg2 {
  background-image: url(http://placehold.it/1280x768/333);
}
.bg2s {
  background-image: url(http://placehold.it/1280x768);
}
.bg3 {
  background-image: url(http://placehold.it/1280x768);
}
.bg4 {
  background-image: url(http://placehold.it/1280x768);
}
.bg5 {
  background-image: url(http://placehold.it/1280x768);
}
.bg6 {
  background-image: url(http://placehold.it/1280x768);
}
.bg7 {
  background-image: url(http://placehold.it/1280x768/000);
}
.bg8 {
  background-image: url(http://placehold.it/1280x768);
}
.bg9 {
  background-image: url(http://placehold.it/1280x768);
}
.bg10 {
  background-image: url(http://placehold.it/1280x768);
}
.bg11 {
  background-image: url(http://placehold.it/1280x768);
}
.bg12 {
  background-image: url(http://placehold.it/1280x768);
}
.bg13 {
  background-image: url(http://placehold.it/1280x768);
}
.bg14 {
  background-image: url(http://placehold.it/1280x768);
}
.bg15 {
  background-image: url(http://placehold.it/1280x768);
}
.bg16 {
  background-image: url(http://placehold.it/1280x768);
}
.bg17 {
  background-image: url(http://placehold.it/1280x768);
}
.bg18 {
  background-image: url(http://placehold.it/1280x768);
}
.bg19 {
  background-image: url(http://placehold.it/1280x768);
}
.bg20 {
  background-image: url(http://placehold.it/1280x768);
}
.bg21 {
  background-image: url(http://placehold.it/1280x768);
}
.bg22 {
  background-image: url(http://placehold.it/1280x768);
}
.bg23 {
  background-image: url(http://placehold.it/1280x768);
}
.bg-scheme {
  background-color: #f6ba70;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-grey {
  background-color: #f2f2f2;
}
/* ============================================================ 
    5. HEADER
=============================================================*/
#line-header {
  position: relative;
}
#line-header .line-logo {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 9;
}
#line-header .line-menu-btn {
  position: fixed;
  right: 25px;
  top: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#line-header .line-menu-btn:hover span {
  background: #f6ba70;
}
#line-header .line-menu-btn:hover span:after,
#line-header .line-menu-btn:hover span:before {
  background: #f6ba70;
}
#line-header .line-menu-btn span {
  position: relative;
  top: 19px;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  width: 35px;
  display: block;
  left: 3px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-header .line-menu-btn span:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  top: -9px;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-header .line-menu-btn span:before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  top: 9px;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-header .line-menu-btn-x {
  position: fixed;
  right: 30px;
  z-index: 10000;
  top: 30px;
  height: 42px;
  width: 42px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  visibility: hidden;
  display: none\9;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#line-header .line-menu-btn-x:hover span {
  transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#line-header .line-menu-btn-x span {
  position: relative;
  height: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: #000000;
  width: 60px;
  display: block;
  left: -9px;
  top: 20px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-header .line-menu-btn-x span:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: #000000;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
/* ============================================================ 
    6. CONTENT TOP
=============================================================*/
body.active #line-content-top {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  visibility: visible;
  display: block\9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
body.active #line-header .line-menu-btn-x {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  visibility: visible;
  display: block\9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#line-content-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #f6ba70;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  visibility: hidden;
  display: none\9;
  padding: 50px 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#line-content-top .line-sidebar-top {
  display: table;
  table-layout: fixed;
}
#line-content-top .line-sidebar-top .line-column {
  display: table-cell;
  border-right: 1px solid #f8ca92;
  float: none;
  padding: 0 30px;
}
#line-content-top .line-sidebar-top .line-column:last-child {
  border: none;
}
#line-content-top .line-sidebar-top .widget .line-title {
  font-size: 14px;
}
#line-content-top .line-sidebar-top .widget ul li a {
  color: #ffffff;
}
#line-content-top .line-sidebar-top .widget ul li a:hover {
  color: #c1700c;
}
#line-content-top .line-sidebar-top .widget.widget_search input {
  border-color: #ffffff;
  background: none;
  color: #666666;
}
/* ============================================================ 
    7. PAGE TITLE
=============================================================*/
/* ============================================================ 
    8. CONTAINER
=============================================================*/
#line-page-body {
  /*overflow-x: hidden;*/
  padding: 100px 0;
  /* ============================================================ 
	    8.1. Portfolio
	=============================================================*/
  /* ============================================================ 
	    8.2. Blog
	=============================================================*/
  /* ============================================================ 
	    8.3. Sidebar
	=============================================================*/
  /* ============================================================ 
	    8.4. Paginator
	=============================================================*/
  /* ============================================================ 
	    8.5. Under Construction
	=============================================================*/
}
#line-page-body .line-portfolio .line-filter {
  margin-bottom: 40px;
}
#line-page-body .line-portfolio .line-filter li {
  display: inline-block;
}
#line-page-body .line-portfolio .line-filter li a {
  font-weight: bold;
  color: #b3b3b3;
  padding: 5px 0;
  margin: 0 30px 0 0;
}
#line-page-body .line-portfolio .line-filter li a.selected {
  color: #000000;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article {
  margin: 0 -10px;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry {
  float: left;
  padding: 0 10px;
  margin-bottom: 20px;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry:hover img {
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry:hover .line-article-content {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  visibility: visible;
  display: block\9;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-thumb {
  background: #ffffff;
  display: block;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-article-content {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  visibility: visible;
  display: none\9;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-article-content.line-middle {
  position: absolute;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-article-content .line-title {
  margin-bottom: 0;
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-article-content .incategory a {
  color: rgba(0, 0, 0, 0.7);
}
#line-page-body .line-portfolio.line-portfolio-ajax .line-list-article .entry .line-article-content .incategory a:hover {
  color: #ffffff;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article {
  margin: 0 -20px;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry {
  padding: 0 20px;
  margin-bottom: 70px;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-thumb {
  display: block;
  margin-bottom: 20px;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-thumb:hover img {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-article-content .line-title {
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-article-content .line-title a {
  color: #000000;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-article-content .line-title a:hover {
  color: #f6ba70;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-article-content .incategory a {
  color: #b3b3b3;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-list-article .entry .line-article-content .incategory a:hover {
  color: #f6ba70;
}
#line-page-body .line-portfolio.line-portfolio-grid .line-content-single-portfolio {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 50px;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-filter {
  text-align: center;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry {
  padding: 150px 0;
  margin-bottom: 1px;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .line-title {
  text-transform: none;
  font-size: 30px;
  line-height: 36px;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .line-title a {
  color: #ffffff;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .line-title a:hover {
  color: #f6ba70;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .incategory {
  margin-bottom: 50px;
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .incategory a {
  color: rgba(255, 255, 255, 0.7);
}
#line-page-body .line-portfolio.line-portfolio-bg .line-list-article .entry .line-article-content .incategory a:hover {
  color: #f6ba70;
}
#line-page-body .line-portfolio .line-content-single-portfolio .line-meta {
  text-align: left;
}
#line-page-body .line-portfolio .line-content-single-portfolio .line-meta .line-title {
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 10px;
}
#line-page-body .line-portfolio .line-content-single-portfolio .line-meta .line-author {
  font-weight: bold;
  margin-bottom: 20px;
}
#line-page-body .line-portfolio .line-content-single-portfolio .line-meta .line-description {
  margin-bottom: 30px;
}
#line-page-body .line-portfolio .line-content-single-portfolio .line-meta .line-info p {
  margin-bottom: 10px;
}
#line-page-body .line-portfolio .line-nav-ajax {
  padding: 50px 0 0 0;
  text-align: center;
}
#line-page-body .line-portfolio .line-nav-ajax .line-nav-hide {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #000000;
}
#line-page-body .line-portfolio .line-nav-ajax .line-nav-hide:hover {
  border-color: #f6ba70;
  color: #f6ba70;
}
#line-page-body .line-portfolio .line-nav-ajax .line-nav-hide i {
  line-height: 50px;
}
#line-page-body .line-portfolio #line-load-ajax {
  display: none;
  background-color: #eee;
  padding-left: 2000px;
  padding-right: 2000px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 -2000px;
  margin-bottom: 100px;
}
#line-page-body .line-blog.line-blog-grid,
#line-page-body .line-blog.line-blog-large,
#line-page-body .line-blog.line-blog-medium,
#line-page-body .line-blog.line-blog-single {
  margin-left: -20px;
  margin-right: -20px;
}
#line-page-body .line-blog.line-blog-grid .entry,
#line-page-body .line-blog.line-blog-large .entry,
#line-page-body .line-blog.line-blog-medium .entry,
#line-page-body .line-blog.line-blog-single .entry {
  float: left;
  padding: 0 20px;
  margin-bottom: 70px;
}
#line-page-body .line-blog.line-blog-grid .entry .line-thumb,
#line-page-body .line-blog.line-blog-large .entry .line-thumb,
#line-page-body .line-blog.line-blog-medium .entry .line-thumb,
#line-page-body .line-blog.line-blog-single .entry .line-thumb {
  margin-bottom: 35px;
}
#line-page-body .line-blog.line-blog-grid .entry .line-thumb:hover img,
#line-page-body .line-blog.line-blog-large .entry .line-thumb:hover img,
#line-page-body .line-blog.line-blog-medium .entry .line-thumb:hover img,
#line-page-body .line-blog.line-blog-single .entry .line-thumb:hover img {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
#line-page-body .line-blog.line-blog-grid .entry .line-thumb a,
#line-page-body .line-blog.line-blog-large .entry .line-thumb a,
#line-page-body .line-blog.line-blog-medium .entry .line-thumb a,
#line-page-body .line-blog.line-blog-single .entry .line-thumb a {
  display: block;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-header .line-time,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-header .line-time,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-header .line-time,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-header .line-time {
  color: #b3b3b3;
  margin-bottom: 10px;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-header .line-title,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-header .line-title,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-header .line-title,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-header .line-title {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-header .line-title a,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-header .line-title a,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-header .line-title a,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-header .line-title a {
  color: #000000;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-header .line-title a:hover,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-header .line-title a:hover,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-header .line-title a:hover,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-header .line-title a:hover {
  color: #f6ba70;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-content,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-content,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-content,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-content {
  margin-bottom: 20px;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-footer .line-meta a,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-footer .line-meta a,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-footer .line-meta a,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-footer .line-meta a {
  color: #b3b3b3;
}
#line-page-body .line-blog.line-blog-grid .entry .line-entry-wrap .line-entry-footer .line-meta a:hover,
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-footer .line-meta a:hover,
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap .line-entry-footer .line-meta a:hover,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-footer .line-meta a:hover {
  color: #f6ba70;
}
#line-page-body .line-blog.line-blog-large,
#line-page-body .line-blog.line-blog-medium,
#line-page-body .line-blog.line-blog-single {
  margin-right: 0;
  margin-left: 0;
}
#line-page-body .line-blog.line-blog-large .entry,
#line-page-body .line-blog.line-blog-medium .entry,
#line-page-body .line-blog.line-blog-single .entry {
  float: none;
  padding: 0;
}
#line-page-body .line-blog.line-blog-large .entry,
#line-page-body .line-blog.line-blog-single .entry {
  margin-bottom: 100px;
}
#line-page-body .line-blog.line-blog-large .entry:last-child,
#line-page-body .line-blog.line-blog-single .entry:last-child {
  margin-bottom: 0;
}
#line-page-body .line-blog.line-blog-large .entry .line-entry-wrap .line-entry-header .line-title,
#line-page-body .line-blog.line-blog-single .entry .line-entry-wrap .line-entry-header .line-title {
  font-size: 24px;
}
#line-page-body .line-blog.line-blog-medium .entry {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 50px;
  margin-bottom: 50px;
  display: inline-block;
  width: 100%;
}
#line-page-body .line-blog.line-blog-medium .entry .line-thumb {
  float: left;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 0;
}
#line-page-body .line-blog.line-blog-medium .entry .line-entry-wrap {
  float: right;
  width: 50%;
  padding-left: 20px;
  margin-top: -8px;
}
#line-page-body .line-blog.line-blog-grid .line-paginator {
  margin: 0 20px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section {
  padding: 50px 0;
  border-bottom: 2px solid #e6e6e6;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section .line-title {
  text-transform: none;
  font-size: 18px;
  margin-bottom: 30px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-tags ul {
  display: inline-block;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-tags ul li {
  display: inline-block;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-tags ul li a {
  color: #b3b3b3;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-tags ul li a:hover {
  color: #f6ba70;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-recent-post ul {
  margin: 0 -10px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-recent-post ul li {
  float: left;
  padding: 0 10px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-recent-post ul li .line-title {
  font-size: 16px;
  line-height: 20px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-about-author .line-author-content {
  display: inline-block;
  width: 100%;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-about-author .line-author-content .line-ava {
  float: left;
  width: 100px;
  margin: 0 20px 0 0;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-about-author .line-author-content .line-ava img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li {
  margin-bottom: 50px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment {
  display: inline-block;
  width: 100%;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment .avatar {
  float: left;
  width: 50px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment .avatar img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment .comment-container {
  margin: 0 0 0 80px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment .comment-container .comment-author {
  margin-bottom: 20px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .comment .comment-container .comment-author .comment-reply-link {
  color: #cccccc;
  font-weight: bold;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comments .commentlist li .children {
  margin-left: 80px;
  margin-top: 50px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comment-form {
  padding-bottom: 0;
  border: none;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comment-form input {
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 20px;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comment-form textarea {
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 20px;
  width: 100%;
  resize: none;
}
#line-page-body .line-blog.line-blog-single .line-entry-footer .line-section.line-comment-form button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#line-page-body .line-has-sidebar.line-sidebar-right .line-page-content {
  float: left;
  padding-right: 30px;
}
#line-page-body .line-has-sidebar.line-sidebar-right .line-page-sidebar {
  float: right;
  padding-left: 30px;
}
#line-page-body .line-has-sidebar.line-sidebar-left .line-page-content {
  float: right;
  padding-left: 30px;
}
#line-page-body .line-has-sidebar.line-sidebar-left .line-page-sidebar {
  float: left;
  padding-right: 30px;
}
#line-page-body .line-has-sidebar .line-page-content {
  width: 70%;
}
#line-page-body .line-has-sidebar .line-page-sidebar {
  width: 30%;
}
#line-page-body .line-has-sidebar #line-load-ajax {
  background-color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
}
#line-page-body .line-has-sidebar #line-load-ajax .line-wrap {
  width: 100%;
}
#line-page-body .line-has-sidebar #line-load-ajax .line-portfolio-media,
#line-page-body .line-has-sidebar #line-load-ajax .line-meta {
  width: 100%;
  margin-bottom: 30px;
}
#line-page-body .line-has-sidebar #line-load-ajax .line-nav-ajax {
  padding: 0 0 50px 0;
  border-bottom: 2px solid #cccccc;
}
#line-page-body .line-has-sidebar .line-portfolio-grid .line-content-single-portfolio {
  padding-bottom: 0;
}
#line-page-body .line-has-sidebar .line-portfolio-grid .line-content-single-portfolio .line-portfolio-media,
#line-page-body .line-has-sidebar .line-portfolio-grid .line-content-single-portfolio .line-meta {
  width: 100%;
  margin-bottom: 30px;
}
#line-page-body .line-paginator {
  display: inline-block;
  width: 100%;
}
#line-page-body .line-paginator .page-numbers {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border: 2px solid #cccccc;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 0 10px 0 0;
  color: #cccccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
#line-page-body .line-paginator .page-numbers:hover {
  border-color: #000000;
}
#line-page-body .line-paginator .page-numbers.next,
#line-page-body .line-paginator .page-numbers.prev {
  overflow: hidden;
}
#line-page-body .line-paginator .page-numbers.next:before,
#line-page-body .line-paginator .page-numbers.prev:before {
  content: "\f105";
  display: block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
}
#line-page-body .line-paginator .page-numbers.prev:before {
  content: "\f104";
}
#line-page-body .line-paginator .current {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}
#line-page-body .line-single-nav {
  position: fixed;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  z-index: 999;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#line-page-body .line-single-nav:hover {
  background: rgba(0, 0, 0, 0.9);
}
#line-page-body .line-single-nav:hover .post-entry {
  width: auto;
}
#line-page-body .line-single-nav i {
  font-size: 28px;
  color: #ffffff;
  position: absolute;
  height: 28px;
  line-height: 28px;
  top: 50%;
  margin-top: -14px;
}
#line-page-body .line-single-nav .post-entry {
  display: block;
  overflow: hidden;
  width: 0;
}
#line-page-body .line-single-nav .post-entry .post-entry-inner {
  display: table;
  width: 200px;
}
#line-page-body .line-single-nav .post-entry .post-entry-inner .line-title {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  text-transform: none;
  font-size: 0.9em;
}
#line-page-body .line-single-nav .post-entry .post-entry-inner .img {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px;
}
#line-page-body .line-single-nav .post-entry .post-entry-inner .img img {
  display: block;
}
#line-page-body .line-single-nav.post-next {
  right: 0;
  text-align: right;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
#line-page-body .line-single-nav.post-next i {
  right: 10px;
}
#line-page-body .line-single-nav.post-next .post-entry .post-entry-inner {
  margin: 0 20px 0 0;
}
#line-page-body .line-single-nav.post-prev {
  left: 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
#line-page-body .line-single-nav.post-prev i {
  left: 10px;
}
#line-page-body .line-single-nav.post-prev .post-entry .post-entry-inner {
  margin: 0 0 0 20px;
}
#line-page-body .line-under-construction .line-middle {
  position: absolute;
}
#line-page-body .line-under-construction .line-countdown > div {
  display: inline-block;
  font-size: 5em;
  padding: 0 30px;
  margin-bottom: 20px;
  line-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}
#line-page-body .line-under-construction .line-countdown > div:after {
  position: absolute;
  content: "/";
  top: 0px;
  right: -12px;
  font-size: 0.5em;
}
#line-page-body .line-under-construction .line-countdown > div:last-child:after {
  display: none;
}
#line-page-body .line-under-construction .line-countdown > div span {
  display: block;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}
#line-page-body .contact-form {
  margin-top: 50px;
  text-align: left;
}
#line-page-body .contact-form p {
  margin-bottom: 40px;
}
#line-page-body .contact-form label.error {
  font-style: italic;
  margin-top: 7px;
}
#line-page-body .contact-form input,
#line-page-body .contact-form textarea {
  width: 100%;
  padding: 0 15px;
}
#line-page-body .contact-form textarea {
  height: 230px;
  padding-top: 10px;
}
#line-page-body .contact-form .line-btn {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #f6ba70;
  border-color: #f6ba70;
  color: #ffffff;
}
#line-page-body .contact-form .line-btn:hover {
  background: #000000;
  border-color: #000000;
}
#line-page-body .contact-form .line-alert {
  margin-bottom: 40px;
}
/* ============================================================ 
    9. CONTENT BOTTOM
=============================================================*/
#line-content-bottom {
  padding: 100px 0;
}
#line-content-bottom.line-bg-dark {
  color: #999999;
}
#line-content-bottom.line-bg-dark .line-sidebar-bottom .widget .line-title {
  color: #ffffff;
}
#line-content-bottom .line-sidebar-bottom .widget .line-title {
  font-size: 14px;
}
#line-content-bottom .line-sidebar-bottom .widget ul li a {
  font-weight: normal;
}
/* ============================================================ 
    10. FOOTER
=============================================================*/
#line-footer {
  background-color: #ffffff;
  padding: 50px 0;
}
#line-footer .line-social {
  margin-bottom: 20px;
}
#line-footer .line-social a {
  color: #000000;
  margin: 0 10px;
}
#line-footer .line-social a:hover {
  color: #f6ba70;
}
#line-footer .line-social a i {
  font-size: 18px;
}
/* ============================================================ 
    11. WIDGET STYLE
=============================================================*/
.widget {
  margin-bottom: 50px;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget ul li {
  margin-bottom: 10px;
}
.widget ul li a {
  font-weight: bold;
  color: #999999;
}
.widget ul li a:hover {
  color: #f6ba70;
}
.widget.widget_search form:after {
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 15px;
  color: #cccccc;
}
.widget.widget_search form input {
  width: 100%;
}
.widget.widget_tag_cloud .tagcloud {
  display: inline-block;
  width: 100%;
}
.widget.widget_tag_cloud .tagcloud a {
  color: #000000;
  font-weight: bold;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: #e6e6e6;
  padding: 7px 15px;
  float: left;
  margin: 0 10px 10px 0;
  font-size: 14px !important;
}
.widget.widget_tag_cloud .tagcloud a:hover {
  background: #000000;
  color: #ffffff;
}
.widget.widget_line_instagram .line-img {
  overflow: hidden;
}
.widget.widget_line_instagram .line-img .line-thumb {
  width: 48%;
  float: left;
  margin: 0 4% 4% 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.widget.widget_line_instagram .line-img .line-thumb:nth-child(2n) {
  margin-right: 0;
}
.widget.widget_line_instagram .line-img .line-thumb:hover img {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.widget.widget_line_instagram .line-img .line-thumb img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.widget.widget_recent_entries ul li {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.widget.widget_recent_entries ul li:first-child {
  padding-top: 0;
}
.widget.widget_recent_entries ul li a {
  display: block;
}
.widget.widget_recent_entries ul li a .thumb {
  float: left;
}
.widget.widget_recent_entries ul li a .thumb img {
  width: 80px;
}
.widget.widget_recent_entries ul li a h3 {
  margin: 0 0 5px 90px;
  font-size: 14px;
  text-transform: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.widget.widget_recent_entries ul li a .time {
  font-weight: normal;
  margin-left: 90px;
  display: block;
}
/* ============================================================ 
    11. CUSTOM
=============================================================*/
.line-hello .line-elements .line-btn {
  margin-top: 30px;
}
.line-funfact h1,
.line-funfact h2,
.line-funfact h3,
.line-funfact h4,
.line-funfact h5,
.line-funfact h6 {
  line-height: 100%;
  margin-bottom: 7px;
}
.line-funfact .line-count-numb {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
}
.line-tw-feed {
  color: #ffffff;
  font-size: 1.2em;
}
.line-tw-feed .line-icons {
  font-size: 56px;
}
.line-demo-column {
  background: #e6e6e6;
  padding: 10px;
  text-align: center;
  display: block;
}
#line-gotop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: #ffffff;
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  display: none\9;
  z-index: 9999;
}
#line-gotop:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#line-gotop.line-visible {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  display: block\9;
}
#line-gotop i {
  line-height: 50px;
}
i.fa.fa-2 {
  font-size: 2em;
}
i.fa.fa-3 {
  font-size: 4em;
}
.isotope {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -moz-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  -ms-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
}
.isotope .isotope-item {
  -webkit-transition: all 0.8s ease-in-out 0s;
  -moz-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
  -ms-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
  z-index: 2;
}
.isotope .isotope-item.isotope-hidden {
  pointer-events: none;
  z-index: 1;
}
#map-canvas {
  height: 500px;
  width: 100%;
}
#map-canvas img {
  max-width: none;
}
body .nivo-lightbox-theme-default .nivo-lightbox-close {
  width: 21px;
  height: 21px;
}
